
#card-number{
    border:1px solid black;
    background-color:rgb(231, 231, 227);
    border-radius: 15px;
    width:200px;
    height:50px;
    padding:3px;
}

#cvv{
    border:1px solid black;
    background-color:rgb(231, 231, 227);
    border-radius: 15px;
    width:200px;
    height:50px;
    padding:3px;
}

#expiration-date{
    border:1px solid black;
    background-color:rgb(231, 231, 227);
    border-radius: 15px;
    width:200px;
    height:50px;
    padding:3px;
}